<table id="comments" class="index" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <%= render :partial => "admin/pages/comment", :collection => (@page.approved_ordered_comments) %>
  </tbody>
</table>